/* GALERÍA - Móvil */
@media (max-width: 480px) {
  .galeria-introduccion {
    p {
      font-size: 20px;
      padding: 12px;
    }

    h1 {
      font-size: $tamano-fuente-titulos;
    }
  }

  .galeria1 {
    h2 {
      font-size: $tamano-fuente-titulos;
    }
  }

  .galeria {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
