/*GALERÍA - Móvil*/
@media(max-width:480px) {
  .galeria-introduccion p {
    font-size: 20px;
    padding: 12px;
  }

  .galeria-introduccion h1 {
    font-size: 30px;
  }

  .galeria1 h2 {
    font-size: 30px;
  }

  .galeria {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}