/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Actor&family=BenchNine&family=Exo:wght@400;800&family=Josefin+Sans:wght@400;700&family=Mochiy+Pop+One&display=swap');

/*Generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}