/* Header */
header {
  background-color: $color-principal;
  padding: 20px 0;

  .navegacion-header {
    display: flex;
    justify-content: center;
    align-items: center;

    nav {
      width: 100%;
      text-align: center;
      font-family: 'Mochiy Pop One', sans-serif;

      ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        flex-wrap: wrap;

        li {
          a {
            color: #FFF;
            text-decoration: none;
            font-size: 20px;
          }
        }
      }
    }
  }
}
