/* NOSOTROS */
@media (max-width: 480px) {
  .nosotros-main {
    h1, h2 {
      font-size: $tamano-fuente-titulos;
    }

    p {
      font-size: 20px;
    }

    .nosotros-main-cajas {
      h3 {
        font-size: 20px;
      }
    }

   

    .mapa {
      width: 100%;
    }
  }
}

 .nosotros-imagen {
      display: none;
    }